.sideBarMenuIntranet{
    display: flex;
    align-items: center;
    font-weight: bold;
    height: 70px;
    justify-content: space-around;
    background: rgb(67, 91, 103);
    border-top: 3px solid #FFC107;
    padding-right: 20px;
}

.avatar{
    height: 60px;
    width: 60px;
    border-radius: 60px;
    margin: 0 20px;
    background-size: cover;
    background-repeat: no-repeat;
}

.profilInSideBar{
    flex: 2;
    margin: 0 20px;
    text-transform: uppercase;
    font-size: 1.2em;
}
body.intranet .profilInSideBar a{
    color: #fff;
}

.iconMenu{
    margin: 0 20px;
}


.widgetMenuSideBare .containerElemMenu{
    display: flex;
    flex-flow: row wrap;
}

.widgetMenuSideBare li,
.widgetMenuSideBare ul{
    margin: 0;
    padding: 5px 10px;
    color:#fff;
    text-align: left;
    transition: all 0.5s ease;

}

.widgetMenuSideBare .down-widget li:hover{
    background-color:#9E9E9E;
}

.widgetMenuSideBare ul a{
    color: #555;
}

.widgetMenuSideBare ul a:hover{
    color: #fff;

}

.widgetMenuSideBare .containerElemMenu>li{

}
.widgetMenuSideBare .containerElemMenu>li>a{
    display: block;
    box-sizing: border-box;
    background-color: #607D8B !important;
    border-radius: 5px;
    border: 1px solid rgba(0, 54, 245, 0.07);
    margin: 5px;
    padding: 5px 20px 5px 30px;
    color:#fff;
    width: 210px;
}
.widgetMenuSideBare .containerElemMenu>li>a:hover{
    color:#222;
}

.widgetMenuSideBare .containerElemMenu>ul{
    display: flex !important;
    flex-direction: column;
}

.widgetMenuSideBare .top-widget li{
    background: url(images/arrow-bar-menu-intranet.png) no-repeat left 4px center;
    max-width: 200px;
    background-color: #eee;
    border-radius: 5px;
    border: 1px solid rgba(0, 54, 245, 0.07);
    margin: 5px 0;
    padding: 3px 20px;
}

.widgetMenuSideBare .down-widget{
    overflow: initial !important;
    height: initial !important;
    margin-top: initial !important;
    margin-bottom: initial !important;
    padding-top: initial !important;
    padding-bottom: initial !important;
    width: 200px;
}



.widgetMenuSideBare{
    display: none;
    position: absolute;
    z-index: 2;
    background: rgba(22, 23, 23, 0.87);
}

.left_content .widget_main .front-box-title.intranet{
    display: none;
}

.iconMenuVerticale,
.iconMenuHorizontale{
    width: 40px;
    height: 40px;
    background: url(images/intranet_menu_horizontal.png) no-repeat;
    cursor: pointer;
}
.iconMenuVerticale{
    background-image: url(images/intranet_menu_verticale.png);
}